// Colors
$clr1: #2e1114;
// $clr1: #7c2730;

$clr2: #64485c;
$clr3: rgb(141, 141, 141);
$clr4: #ffffff;
$clr5: #c01224;

// Breakpoints
$mobile-breakpoint: 560px;
$narrow-breakpoint: 561px;
$normal-breakpoint: 561px;
$wide-breakpoint: 1097px;
