.filters{
    margin: 20px;
    height: 113px;
    .clear-all{
      background-color: transparent;
      margin-left:15px;
      border:0px;
      color:$clr3;
      text-decoration: underline;
      font-size: rem(12px);
      align-self: flex-end;
      height: 30px;
    margin-top: 10px;
    align-self: flex-start;

    }
}


.checkbox-dropdown {
    width: 120px;
    height: 40px;
    color:$clr3;
    border: 0.5px solid rgb(212, 212, 212);
    border-radius: 20px;
    padding: 10px;
    position: relative;
    // margin: 0 auto;
    user-select: none;
    margin: 10px 0 0 15px;
}

.checkbox-dropdown:hover {
  background-color: $clr1;
  // color:$clr4;

}

.price-wrapper{

width: 210px;

}

/* Display CSS arrow to the right of the dropdown text */
// .checkbox-dropdown:after {
//     content:'';
//     height: 0;
//     position: absolute;
//     width: 0;
//     border: 6px solid transparent;
//     border-top-color: $clr3;
//     top: 50%;
//     right: 10px;
//     margin-top: -3px;

// }

/* Reverse the CSS arrow when the dropdown is active */
// .checkbox-dropdown.is-active:after {
//     border-bottom-color: $clr3;
//     border-top-color: #fff;
//     margin-top: -9px;
// }

.checkbox-dropdown-list {
   z-index: 100;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%; /* align the dropdown right below the dropdown text */
    border: inherit;
    border-top: none;
    left: -1px; /* align the dropdown to the left */
    right: -1px; /* align the dropdown to the right */
    opacity: 0%; /* hide the dropdown */
    // transition: opacity 0.4s ease-in-out;
    // height: 100px;
    // overflow: scroll;
    // overflow-x: hidden;
    pointer-events: none; /* avoid mouse click events inside the dropdown */
    transition: 0.2s linear ;

}
.is-active .checkbox-dropdown-list {
    opacity: 1; /* display the dropdown */
    pointer-events: auto; /* make sure that the user still can select checkboxes */
}

.checkbox-dropdown-list li label {
    display: block;
    border-bottom: 1px solid rgb(236, 236, 236);
    padding: 10px;
    // transition: all 0.2s ease-out;
    background-color: $clr4;
}

.checkbox-dropdown-list li label:hover {
    background-color: $clr1;
    color: white;
}

// .price{
//     input{
//         appearance: none;
//           background-color: $clr1;
//           height: 10px;
//     }
  
      
      
// }

.price-filter{
 margin-left:15px;
 color:$clr3;
}

.star-ratings-css {
    unicode-bidi: bidi-override;
    // color: #c5c5c5;
    font-size: 18px;
    // width: 100px;
    position: relative;
    padding: 0;
    // text-shadow: 0px 1px 0 #a2a2a2;
    
    &-top {
      color: $clr2;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: block;
      top: 0;
      left: 0;
      overflow: hidden;
    }
    &-bottom {
      padding: 0;
      display: block;
      z-index: 0;
      color: lightgray;
     
    }
  }


  ///////////////////////////////////Slider////////////////////////////

  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 7.8px 0;
    // margin-left: 20px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2.4px;
    cursor: pointer;
    // box-shadow: 0px 0px 2.7px rgba(0, 0, 0, 0.19), 0px 0px 0px rgba(13, 13, 13, 0.19);
    // background: #ff1717;
    border-radius: 1.5px;
    height: 12px;
    border: 0.5px solid rgb(212, 212, 212);;
  }
  input[type=range]::-webkit-slider-thumb {
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    // border: 1px solid #000000;
    height: 22px;
    width: 22px;
    border-radius: 17px;
    background: $clr1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9.6px;
    position: relative;
    top:5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #8d8d8d;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 2.4px;
    cursor: pointer;
    box-shadow: 0px 0px 2.7px rgba(0, 0, 0, 0.19), 0px 0px 0px rgba(13, 13, 13, 0.19);
    background: #8d8d8d;
    border-radius: 1.5px;
    border: 1.8px solid #8d8d8d;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 17px;
    background: #64485c;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 2.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #8d8d8d;
    border: 1.8px solid #8d8d8d;
    border-radius: 3px;
    box-shadow: 0px 0px 2.7px rgba(0, 0, 0, 0.19), 0px 0px 0px rgba(13, 13, 13, 0.19);
  }
  input[type=range]::-ms-fill-upper {
    background: #8d8d8d;
    border: 1.8px solid #8d8d8d;
    border-radius: 3px;
    box-shadow: 0px 0px 2.7px rgba(0, 0, 0, 0.19), 0px 0px 0px rgba(13, 13, 13, 0.19);
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 17px;
    background: #64485c;
    cursor: pointer;
    height: 2.4px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #8d8d8d;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #8d8d8d;
  }
  

  .show{
    display: block;
  }

  .hide{
    display: none;
  }

  .scale-in-center {
            animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }


  /* ----------------------------------------------
 * Generated by Animista on 2020-1-28 22:33:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
