.btn1{
    width:160px;
    height:40px;
    background-color: $clr1;
    font-size: rem(16px);
    color: $clr4;
    border:0px;
    cursor: pointer;
}

.btn2{
    width:100px;
    height:40px;
    border:0px ;
    background-color: $clr3;
    font-size: rem(14px);
    color: $clr4;
    cursor: pointer;
}



.rating {
    float:left;
    border:none;
    align-self: end;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    // top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: $clr2;
    // text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: $clr2;
    // text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: $clr2;
    // text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.review-cancel{
    font-size: 13px;
    max-width: 20px;
    background:$clr1;
    color: white;
    text-align: center;
    &:hover{
        cursor: pointer;
    }
}



// .btn1{
//     width:200px;
//     height:40px;
//     background-color: $clr4;
//     font-size: 1.3rem;
//     color: $clr1;
// }

// .btn2 {
//     width:200px;
//     height:40px;
//     background-color: $clr3;
//     font-size: 1.3rem;
//     color: $clr1;
// }

// .btn3 {
//     width:200px;
//     height:40px;
//     background-color: $clr1;
//     font-size: 1.3rem;
//     color: $clr4;
//     border: 2px solid $clr4;
// }

// .btn-style-none{
//   background-color: transparent;
//   border:none;

//     }
    
// // <div className="btn1"></div>
// // <div className="btn2"></div>
// // <div className="btn3"></div>
// // <div className="btn4"></div>




